<div class="container p-4">
    <form action="" [formGroup]="myForm" class="form-group" (ngSubmit)="onSubmit">
        <fieldset>
            <legend>Add Income</legend>
            <div class="form-group">
                <label for="ammount">Ammount</label>
                <input type="number" ngmodel="inAmmount" class="form-control" name="ammount" id="ammount" formControlName="ammount">
            </div>
            <div class="form-group">
                <label for="source">Source</label>
                <input type="text" class="form-control" name="source" formControlName="source" id="source">
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea name="details" id="" cols="30" rows="10" class="form-control" formControlName="details" id="details"></textarea>
            </div>
            <div class="form-group">
                <label for="date">Date/Time</label>
                <input type="date" name="date" class="form-control" formControlName="date" id="date">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </fieldset>
    </form>
</div>

